.fade-image {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.fade-image.show {
    opacity: 1;
    max-height: 400px;
}
.fade-button {
    transition: all 0.3s ease;
}

.fade-button-text {
    display: inline-block;
    transition: opacity 0.3s ease;
    opacity: 1;
}
